@font-face {
  font-family: "Brolia";
  src: url('assests/fonts/Brolia.otf') format('opentype'); /* Include font format */
}

@font-face {
  font-family: "Autography";
  src: url('assests/fonts/Autography.otf') format('opentype'); /* Include font format */
}
@font-face {
  font-family: "GalleroVintage-DemoVersion-Regular";
  src: url('assests/fonts/GalleroVintage-DemoVersion-Regular.otf') format('opentype'); /* Include font format */
}
@font-face {
  font-family: "Aesthetic-Regular";
  src: url('assests/fonts/Aesthetic-Regular.otf'); /* Include font format */
}
@font-face {
  font-family: "Aesthetic-Regular-Yzraq";
  src: url('assests/fonts/AestheticRegular-Yzraq.otf'); /* Include font format */
}
@font-face {
  font-family: "JE_font";
  src: url('assests/fonts/JE_font.otf'); /* Include font format */
}
@font-face {
  font-family: "SIgnature";
  src: url('assests/fonts/Photograph\ Signature.otf'); /* Include font format */
}



*{
  margin: 0;
  padding: 0;
  
  
  box-sizing: border-box;

}
html, body {
  font-family: JE_font;
  background-color: #e0decd;
  color: #7e5e49;
  width: 100%;
  height: 100%;
  
}

.navbar{
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
}

li{
  float: left;
  list-style-type: none;
}

li a{
  color: #774231;
  text-decoration: none;
  padding: 10px 20px;
  margin: 2px;
  transition: .5s linear;
  font-size: 17px;
  font-family: Aesthetic-Regular;
}

li a:hover{
  background: #eee;
  color: #222831;
  border-radius: 50px;
}

.topBar .toggle{
  display: none;
  /* border-radius: 5px; */
}

@media (max-width: 740px) {
  .navbar{
      flex-direction: column;
      text-align: center;
      padding: 20px;
      
  }

  li{
      float: none;
      margin: 30px 0;
      animation: slide .5s linear 1;
  }

  @keyframes slide {
      0%{
          transform: translateX(50px);
          opacity: 0;
      }
      100%{
          transform: translateX(0px);
          opacity: 1;
      }
  }

  li a{
      font-size: 20px;
  }

  .navMenu{
      background: #e3e0dc;
      width: 100%;
      margin-top: 30px;
      border-radius: 10px;
      display: none;
  }

  .topBar{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
  }

  .topBar img {
      width: 90px;
  }

  .topBar .toggle{
      font-size: 30px;
      display: block;
      color: #4b0808;
  }
}

.header h1{
  /* font-family: Aesthetic-Regular; */
  white-space:pre-wrap;
  margin-top: 149px;
  font-size: 5vw;
  font-weight: 100;
  text-align: center;
  color: #e7e0dd;
  padding-left: 113px;
  padding-right: 114px;
  padding-bottom: 400px;
}


@media (max-width: 740px) {
  .header h1{
      font-size: 32px;
      padding-left: 20px;
      padding-right: 20px;
      font-weight: 15;
      align-items: center;
      
  }
}

#home{
  min-height: 100vh;
  width: 100%;
  background-image: url(assests/images/bgnew.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
 

}

@media (max-width: 768px) {
  #home {
    background-size: cover; /* Adjust background size for smaller screens */
    background-position: center;
    
  }
}


#about{
  margin-top: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7vw;
}

#about_image img{
  width: 38vw;
  height: 41vw;
  
  
}

#about_text{
  
  width: 100%;
  padding-left: 2vw;
  padding-right: 11vw;
  
  
 
}

#about_text h1{
  font-family: Autography ;
  padding-bottom: 6vw;
  text-align: center;
  font-size: 70px;
}

#about_text p{
  color: #242423;
  font-family: JE_font;
  font-size: 15px;
  line-height: 2.3;
  
  /* text-transform: lowercase; */
  letter-spacing: 2.5px;
}


@media (max-width: 768px) {
  #about {
    padding-top: 40px;
    flex-direction: column; 
    align-items: center;
    margin: 5vw;
  }
  #about_image {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the image horizontally */
    margin-bottom: 3vw; /* Add some spacing between image and text */
  }
  #about_image img {
    
    width: 80%; /* Adjust image width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 3vw; /* Add some spacing between image and text */
    
  }

  #about_text {
    padding: 0; 
    text-align: center; 
  }

  #about_text h1 {
    font-size: 32px; 
    padding-bottom: 6vw;
  }

  #about_text p {
    font-size: 5vw; 

    line-height: 1.6; 
    letter-spacing: 1px;
  }
}



/* Marquee styles */
.marquee {
  
  display: flex ;
  overflow: hidden ;
  white-space: nowrap ;
  width: 100% ;
  font-size: 4vw;
  font-family: GalleroVintage-DemoVersion-Regular;
  margin-bottom: 2vw;
}
.marquee__item {
  animation-duration: 10s ;
  animation-iteration-count: infinite ;
  animation-name: marquee-content ;
  animation-timing-function: linear ;
  padding: 5px 15px 5px 15px ;
}
.marquee:hover .marquee__item {
  animation-play-state: paused ;
}


@keyframes marquee-content {
  from {
    transform: translateX( 0% );
  }
  to {
    transform: translateX( -100% );
  }
}

@media (max-width: 768px) {
  .marquee {
    font-size: 30px; 
    
    padding-top: 40px;
    
  }
}


/* #photodisplay{
  height: 100%;
  width: 100%;
  display: flex;
  
  padding: 2vw;
}

#photodisplay-part1{
  height: 40vw;
  width: 42vw;
  background-image: url(assests/images/bgnew.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 8vw;
}



#photodisplay-part3 h1{
  font-family: GalleroVintage-DemoVersion-Regular;
  padding-top: 26vw;
  padding-left: 11vw;
  font-size: 31px;
  
  
    
  
}

#firstPhotoGraphy{
  margin-left: 80%;
  width: 30vw;
  height: 30vw;
}
#part2{
  width: 20px;
  height: 20px;
}
 */


#pictures{
  display: flex;
  justify-content: space-between;
  margin-top: 9vw;
  padding: 3vw;
  padding-left: 7vw;
  padding-right: 8vw;
}

#firstpic{
  width: 25vw;
  

}

#firstpic #picimg{
  width: 100%;
  height: 67%;
  margin-bottom: 2vw;
  
  

}
#picimg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

 #secpic h1{
  letter-spacing: 0.12vw;
  font-weight: 100;
  font-size: 2.3vw;
}


#firstpic p, #secpic p{
  opacity: 1;
  font-size: 1vw;
  letter-spacing: -.07vw;
  line-height: 1;
  margin-top: 10px;
}

#secpic{
  display: flex;
  align-items: end;
  flex-direction: column;
  width: 27vw;

}
#secpic #picimg{
  width: 100%;
  height: 37vw;
  margin-bottom: 1vw;
  
  

}
#imgeff img{
  object-fit: cover;
}
#secpic p{
  text-align: right;
  width: 50%;
}

#circlev{
  border-radius: 50%;
  border: 1px solid #5f5757;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3vw;
  height: 3vw;
}
#circlev i{
  color: #5f5757 ;
}
a{
  text-decoration: none;
  color: #774231;

  
}
.anim2{
  display: flex;
  align-items: baseline;
  gap: 1vw;
  padding-left: 5vw;
}


@media (max-width: 768px) {
  #pictures {
    flex-direction: column; 
    align-items: center; 
    margin-top: 19vw; 
    padding: 8vw; 
  }

  #firstpic, #secpic {
    width: 100%; 
    margin-bottom: 10vw; 
    padding: 0; 
  }

  #firstpic {
    order: 2; 
  }

  #firstpic #secpic #picimg {
    height: auto;
    margin-bottom: 4vw; 
  }

  #firstpic h3, #secpic h1 {
    font-size: 6vw; 
  }




  
  .anim2 {
    display: none;
    
    /* display: grid; */
    
  }
}





/* text */
#textone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 27vw;
  margin-bottom: 14vw;
  
}

#textone h1 {
  padding: 11vw;
  font-size: 4vw;
  font-weight: 100;
}

.button-container {
  margin-top: -80px; /* Adjust margin as needed */
}

.aesthetic-button {
  padding: 2vw 2vw;
  font-family: "Aesthetic-Regular", sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: #774231;
  border: none;
  
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.aesthetic-button:hover {
  background-color: #5f5757;
}

@media (max-width: 768px) {
  #textone{
    height: 90vw;
    margin-top: 10vw;
    margin-bottom: 30vw;
  }
  #textone h1 {
    padding-top: 2vw;
    font-size: 12vw;
    padding-left: 10vw;
    padding-right: 2vw;
  }
  .aesthetic-button{
    margin-top: 21vw;
    padding: 5vw 5vw;
  }
}


#banner{
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 8vw;
  margin-bottom: 4vw;
}

#bimg{
  width: 65%;
  height: 100vh;
  
}


#bimg img{
  width: 100%;
  height: 100%;
  object-position: 0% 20%;
  object-fit: cover;
}

#btext{
  width: 35%;
  padding: 0 8vw;
}



#btext p{
  margin-top: 10px;
  font-size: 2vw;
  color: #000;
}


@media (max-width: 768px) {
  #banner {
    flex-direction: column; 
    align-items: center;
    
  }

  #bimg {
    width: 100%; 
    height: 100vw; 
    margin-bottom: 20px;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  #btext {
    width: 100%;
    text-align: center;
  }

  #btext p {
    font-size: 5vw; 
  }
}






#texttwo{
  width: 100%;
  height: 20vw;
  margin-bottom: 15vw;
  /* background-color: red; */
}

#texttwo h1{
  text-align: center;
  padding-top: 10vw;
  font-size: 3.5vw;
  font-weight: 150;
}

#texttwo p{
  color: #000;

  text-align: center;
  padding-top: 5vw;
  padding-left: 18vw;
  padding-right: 18vw;
  font-size: 2vw;
  
}
#texttwo h2{
  text-align: center;
  padding-top: 10vw;
  font-size: 3vw;
  font-weight: 150;
}
#texttwo h3{
  text-align: center;
  padding-top: 2vw;
  font-size: 1.5vw;
  font-weight: 150;
  font-style: italic;
}

#texttwo h6 {
  text-align: center;
  padding-top: 3vw;
  font-size: 1.5vw;
  font-weight: 150;
  font-style: italic;
  line-height: 50px;
}


@media (max-width: 768px) {
  #texttwo {
    height: auto; 
    margin-bottom: 10vw;
    margin-top: 20vw; 
  }

  #texttwo h1 {
    

    font-size: 7vw; 
  }

  #texttwo p {
    padding-top: 7vw; 
    padding-left: 6vw; 
    padding-right: 6vw; 
    font-size: 5vw; 
  }
  #texttwo h3{
    text-align: center;
    padding-top: 2vw;
    font-size: 4vw; 
    font-weight: 150;
    font-style: italic;
    
  }
  #texttwo h6 {
    text-align: center;
    padding-top: 2vw;
    font-size: 4vw; 
    font-weight: 150;
    
    line-height: 40px; 
  }
}




.gallery{
  
  display: flex;
  overflow-x: scroll;
}

.gallery div{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto ;
  

}

.gallery div img{
  width: 400px; 
  height: 400px; 
  object-fit: cover;
  
}


.gallery::-webkit-scrollbar{
 display: none;
}

.gallery-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 5px auto; */
  margin-bottom: 3vw;

}

#nextbtn, #backbtn{
  width: 20px;
  cursor: pointer;
  margin-left: 2px;
  
}



@media screen and (max-width: 768px) {
  .gallery div img {
    width: 250px;
    height: 250px;
  }

  .gallery div {
    grid-template-columns: auto auto auto auto;
  }
}






#page3 {
  height: 95vh;
  width: 100%;
  background-color: #e0decd;
  position: relative;
  background-image: url(assests/images/black.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vw;
}


.page3-center {
  /* background-color: red; */
  display: flex;
  align-items: center;
  padding: 1vw;
  flex-direction: column;
}

.page3-center .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.3vw;
  border-radius: 99%;
  background-color: #9e9a98;

}

.page3-center .icon i {
  color: #000;
  font-size: 1.5vw;

}

.page3-center h5 {
  font-size: 0.8vw;
  background-color: #fff;
  color: #000;
  border-radius: 50px;
  padding: 12px 26px 10px 26px;
  margin-top: 0.5vw;
  font-weight: 700;
  opacity: 0;
  transition: all ease 0.5s;
  transform: translateY(16%);
  text-transform: uppercase;
}

.page3-center:hover h5 {
  opacity: 1;
  transform: translateY(0%);
}

#page3 video {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  transform: scaleX(0.7) scaleY(0);
  opacity: 0;
  border-radius: 30px;
  z-index: 99999;

}

@media screen and (max-width: 768px) {
  #page3 {
    margin-top: 7vw;
    height: 60vh;
    
  }

  .page3-center .icon {
    padding: 2.5vw; /* Adjust padding for icon */
  }

  .page3-center .icon i {
    font-size: 5vw; /* Adjust icon size */
  }

  .page3-center h5 {
    font-size: 1.2vw; /* Adjust heading size */
    padding: 8px 18px 6px 18px; /* Adjust padding for heading */
  }

  #page3 video {
    border-radius: 50px; /* Adjust border radius for video */
  }
}


.blog-section {
  
  margin-top: 15vw;
  margin-bottom: 4vw;
}

.section-heading {
  padding-left: 5vw;
  padding-bottom: 2vw;
  font-size: 4vw;
  font-weight: 150;
  color: #333; /* Adjust color as needed */
}

.blog-posts {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.blog-post {
  width: 45%;
  
  margin-bottom: 20px;
}

.blog-post a {
  
  display: block;
  text-decoration: none;
  color: inherit;
}

.blog-post img {
  width: 43vw;
  height: 24vw;
  /* border-radius: 8px; Optional: adds rounded corners to the images */
}

.blog-post h3 {
  font-family: JE_font;
  margin-top: 10px;
  font-size: 30px;
}


/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
  .blog-section {
    margin-top: 10vw;
    margin-bottom: 3vw;
  }

  .section-heading {
    padding-left: 10vw;
    padding-bottom: 3.5vw;
    font-size: 9vw;
  }

  .blog-post {
    width: 80%; 
  }

  .blog-post img {
    width: 85vw; 
    height: auto;
  }

  .blog-post h3 {
    font-size: 15px; 
  }
}


#aboutnew{
  margin-top: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7vw;
}

#aboutaboutnew_image img{
  width: 38vw;
  height: 41vw;
  
  
}

#aboutnew_text{
  
  /* width: 100%; */
  padding-left: 10vw;
  /* padding-right: 11vw; */
 
}


#aboutnew_text p{
  color: #242423;
  font-family: Aesthetic-Regular;
  font-size: 15px;
  line-height: 2.3;
  
  text-transform: lowercase;
  letter-spacing: 2.5px;
}


@media (max-width: 768px) {
  #aboutnew {
    padding-top: 40px;
    flex-direction: column; 
    align-items: center;
    margin: 5vw;
  }
  #aboutaboutnew_image {
    display: flex;
    justify-content: center; 
    margin-bottom: 3vw; 
  }
  #aboutaboutnew_image img {
    
    width: 80%; 
    height: auto; 
    margin-bottom: 3vw; 
    
  }

  #aboutnew_text {
    padding: 0; 
    text-align: center; 
  }

  #aboutnew_text h1 {
    font-size: 32px; 
    padding-bottom: 6vw;
  }

  #aboutnew_text p {
    font-size: 14px; 
    line-height: 1.6; 
    letter-spacing: 1px;
  }
}

.cta{
 
  width: 100%;
  height: 20vw;
  background-image: url(assests/images/backgroundimgae.jpg);
  background-position: center;
  background-size: cover;
  
  text-align: center;
  padding: 100px 0;
}
.cta h1{

  font-size: 2.5rem;
  font-weight: 400;
  color: #c7900f;
  margin-bottom: 20px;
  padding: 0;
}
.cta h1 .view{
  color: #c7900f;
  
  
}

@media(max-width: 768px){
  .cta h1{
      font-size: 20px;
  }
}


#textend{
  width: 100%;
  /* margin-top: -7vw; */
  margin-bottom: 1vw;
  /* margin-top: 10px; */
  /* background-color: red; */
}



#textend h2{
  text-align: center;
  padding-top: 10vw;
  font-size: 3vw;
  font-weight: 150;
}
#textend h3{
  text-align: center;
  padding-top: 2vw;
  font-size: 1.5vw;
  font-weight: 150;
  font-style: italic;
}

#textend h6 {
  text-align: center;
  padding-top: 3vw;
  font-size: 1.5vw;
  font-weight: 150;
  font-style: italic;
  line-height: 50px;
  
}



@media (max-width: 768px) {
 

  #textend h2{
    font-size: 5vw; 
    font-weight: 150;
  }
  #textend h3{
    text-align: center;
    padding-top: 2vw;
    font-size: 3vw; 
    font-weight: 150;
    font-style: italic;
    
  }
  #textend h6 {
    text-align: center;
    padding-top: 2vw;
    font-size: 10px; 
    font-weight: 150;
    
    line-height: 40px; 
  }
}



/* ................ABOUT PAGE..................... */


#aboutPage{
  min-height: 93vh;
  width: 100%;
  background-image: url(assests/images/b&wowner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
 

}
@media (max-width: 768px) {
  #aboutPage {
    background-size: cover; /* Adjust background size for smaller screens */
    background-position: center;
    
  }
}

.headerAbout h1{
  /* font-family: Aesthetic-Regular; */
  white-space:pre-wrap;
  margin-top: 149px;
  font-size: 5vw;
  font-weight: 100;
  text-align: center;
  color: #e7e0dd;
  padding-left: 113px;
  padding-right: 114px;
  
}


@media (max-width: 740px) {
  .headerAbout h1{
      font-size: 32px;
      padding-left: 20px;
      padding-right: 20px;
      font-weight: 15;
      align-items: center;
      
  }
}

.aboutone{
  margin-top: 5vw;
  
  width: 100%;
  
  display: flex;
  justify-content: space-between;
}
.textone{
 
 padding-left: 5vw;
 padding-right: 11vw;
 padding-top: 9vw;

}

.textone h1{
  font-size: 4vw;
  font-weight: 100;
}


.aboutoneImage img{
  height: 60vw;
  
}
.textone p{
  padding-top: 5vw;
  font-size: 23px;
}

@media screen and (max-width: 768px) {
  .aboutone {
    flex-direction: column;
    align-items: center;
    margin-top: 10vw;
  }

  .aboutoneImage {
    order: -1; /* Image will appear before text */
    
  }

  .textone {
    padding: 8vw;
    text-align: center;
  }

  .aboutoneImage img {
    height: auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .textone h1 {
    font-size: 8vw;
  }

  .textone p {
    padding-top: 7vw;
    font-size: 13px;
  }
}

.aboutcta{
  margin-top: 7vw;
  width: 100%;
  height: 25vw;
  background-image: url(assests/images/backgroundimgae.jpg);
  background-position: center;
  background-size: cover;
  
  text-align: center;
  padding: 100px 0;
}
.aboutcta h1{
  padding-top: 4vw;
  font-size: 2.5rem;
  font-weight: 400;
  color: #c7900f;
  
}


@media(max-width: 768px){
  .aboutcta h1{
      font-size: 20px;
      padding: 2.5vw;
  }
}


.autograph{
  margin-top: 3vw;
  text-align: center;
}
.autograph h1{
  font-family: Autography;
    font-size: 4vw;
    font-weight: 400;
}

.autograph h2{
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 3vw;
  letter-spacing: 0.01;
  font-weight: 100;

}

@media screen and (max-width: 768px) {
  .autograph {
    margin-top: 4vw;
    text-align: center;
  }

  .autograph h1 {
    font-size: 9vw; 
  }

  .autograph h2 {
    padding: 5vw;
    font-size: 4vw; 
    line-height: 1.1; 
  }
}

.autographtwo{
  margin-top: -6vw;
  /* background-color: #fff; */
  text-align: center;
}

.autographtwo h2{
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 3vw;
  letter-spacing: 0.01;
  font-weight: 100;

}
@media screen and (max-width: 768px) {
  .autographtwo {
    margin-top: 4vw;
    text-align: center;
  }

 
  .autographtwo h2 {
    padding: 5vw;
    font-size: 4vw; 
    line-height: 1.1; 
  }
}

.onlyImage{
  margin: 5vw;
  display: flex;
  justify-content: space-between;
    
}

.onlyImageOne img{
  height: 57vw;
  width: 35vw;
  
  padding-bottom: 20vw;
  
}
.onlyImageTwo img{
  /* background-color: red; */
  height: 55vw;
  width: 28vw;
  
  padding-top: 20vw;
}
@media screen and (max-width: 768px) {
  .onlyImage{
    margin: 9vw;
  }
  .onlyImageOne img,
  .onlyImageTwo img {
    height: 58vw;
    width: 36vw;
  }
}



/* ...........films.............. */
.films-header{
  margin-top: 9vw;
}
.films-header h1{
  
  white-space: pre-wrap;
  
  font-size: 5vw;
  font-weight: 100;
  text-align: center;
  color: #e7e0dd;
  padding-left: 113px;
  padding-right: 114px;
}


@media (max-width: 740px) {
  .films-header{
    margin-top: 39vw;
    
  }
  .films-header h1{
      font-size: 32px;
      padding-left: 20px;
      padding-right: 20px;
      font-weight: 15;
      align-items: center;
      
  }
}

/* #weddingh1:hover{
 background-image: url(assests/images/aesthetics.jpg);
} */

#fimshome{
  min-height: 100vh;
  width: 100%;
  background-image: url(assests/images/black.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
 

}
@media (max-width: 768px) {
  #fimshome {
    background-size: cover; /* Adjust background size for smaller screens */
    background-position: center;
    
  }
}


/* Marquee styles */
.marquee-films {
  
  display: flex ;
  overflow: hidden ;
  white-space: nowrap ;
  width: 100% ;
  font-size: 3vw;
  font-family: GalleroVintage-DemoVersion-Regular;
  margin-bottom: 2vw;
  margin-top: 2vw;
}
.marquee__item_films {
  animation-duration: 10s ;
  animation-iteration-count: infinite ;
  animation-name: marquee-content ;
  animation-timing-function: linear ;
  padding: 5px 15px 5px 15px ;
}
.marquee-films:hover .marquee__item_films {
  animation-play-state: paused ;
}


@keyframes marquee-content {
  from {
    transform: translateX( 0% );
  }
  to {
    transform: translateX( -100% );
  }
}

@media (max-width: 768px) {
  .marquee-films {
    font-size: 30px; 
    
    padding-top: 40px;
    
  }
}


#filmsabout{
  margin-top: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7vw;
}

#filmsabout_image img{
  width: 38vw;
  height: 41vw;
  
  
}

#filmsabout_text{
  
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
  
  
 
}

#filmsabout_text h1{
  color: #1f1f1f;
  padding-bottom: 4vw;
  padding-top: 2vw;
  font-size: 60px;
  font-weight: 100;
}

#filmsabout_text p{
  color: #1f1f1f;
  
  font-size: 20px;
  line-height: 2.1;
  text-align: start;
  
  letter-spacing: 2.9px;
}


@media (max-width: 768px) {
  #filmsabout {
    padding-top: 40px;
    flex-direction: column; 
    align-items: center;
    margin: 5vw;
  }
  #filmsabout_image {
    order: -1;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the image horizontally */
    margin-bottom: 3vw; /* Add some spacing between image and text */
  }
  #filmsabout_image img {
    
    width: 102%;
    height: 47vh;
    margin-bottom: 5vw;
    
  }

  #filmsabout_text {
    padding: 0; 
    text-align: center; 
  }

  #filmsabout_text h1 {
    font-size: 32px; 
    padding-bottom: 6vw;
  }

  #filmsabout_text p {
    /* background-color: red; */
    font-size: 14px; 
    line-height: 1.1;
    margin-left: 20px;
    margin-right: 20px;
    letter-spacing: 1px;
  }
}

.videobook{
  padding-top: 4vw;
}
.videoabout{
  text-align: center;
  /* background-color: red; */
  margin: 219px;
}

.videobook_text{
  /* background-color: red; */
  padding-left: 9.375vw;
  padding-right: 9.375vw;
  padding-bottom: 2vw;
}

.videobook_text h1{
  color: #1f1f1f;
  padding-bottom: 2.19vw;
  font-size: 3.2016666666666667vw;
  font-weight: 100;
}
.videobook_text h3{
  font-size: 1.0416666666666667vw;
  color: #1f1f1f;
  padding-bottom: 2.19vw;
  font-weight: 100;
  /* line-height:  1.6666666666666667vw; */
}
.videobook_text p{
  font-size: 1.2816666666666665vw;
  line-height: 2.0506640625vw;
  color: #1f1f1f;
  padding-bottom: 2.19vw;
  font-weight: 100;
  letter-spacing: normal;
}


:is(vimeo-embed, youtube-embed) {
  aspect-ratio: 16 / 9;
  border-radius: var(--video-embed-bdrs, 0.25em);
  display: grid;
  inline-size: 100%;
  position: relative;
}
:is(vimeo-embed, youtube-embed) button {
  background-color: var(--button-bgc, rgb(190, 182, 182));
  block-size: var(--button-h, 50px);
  border: 0;
  border-radius: var(--button-bdrs, 14%);
  display: grid;
  inline-size: var(--button-w, 75px);
  opacity: var(--button-op, 0.8);
  position: absolute;
  place-self: center;
  transition: all .2s ease-in;
}
:is(vimeo-embed, youtube-embed) button::before {
  aspect-ratio: 1;
  background: #FFF;
  block-size: 1.5em;
  clip-path: polygon(20% 0%, 20% 100%, 100% 50%);
  content: '';
  place-self: center;
}
:is(vimeo-embed, youtube-embed) :is(iframe, img) { 
  block-size: 100%;
  border: 0;
  border-radius: inherit;
  inline-size: 100%;
  inset: 0;
  object-fit: cover;
  position: absolute;
}
:is(vimeo-embed, youtube-embed) iframe:not([src=""]) + button {
  display: none;
}
:is(vimeo-embed button) { --button-bgc: #00adef; }
:is(vimeo-embed, youtube-embed):hover button { --button-op: 1; }


@media (max-width: 768px) {
  .videoabout {
    margin-top: 16vw;
    margin-left: 11vw;
    margin-right: 11vw;
  }
  .videobook{
    margin-bottom: 5vw;
  }

  .videobook_text {
    padding-left: 20px;
    padding-right: 20px;
  }

  .videobook_text h1 {
    font-size: 24px;
  }

  .videobook_text h3 {
    font-size: 13.5px;
    padding-top: 6px;
  }

  .videobook_text p {
    font-size: 12px;
    line-height: 20px;
    padding-top: 15px;
  }
}

.button-container_films {
  margin-top: 30px;
}

.button-container_films_aesthetic-button {
  padding: 1.5vw 2.5vw;
  font-family: "Aesthetic-Regular", sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: #774231;
  border: none;
  
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container_films_aesthetic-button:hover {
  background-color: #5f5757;
}



.aboutcta_films{
  margin-top: 7vw;
  width: 100%;
  height: 25vw;
  background-image: url(assests/images/backgroundimgae.jpg);
  background-position: center;
  background-size: cover;
  
  text-align: center;
  padding: 100px 0;
}
.aboutcta_films h1{
  padding-top: 1vw;
  font-size: 2.5rem;
  font-weight: 400;
  color: #c7900f;
  
}


@media(max-width: 768px){
  .aboutcta_films{
    
    height: 83vw;
    
    padding: 86px 0;
  }
  .aboutcta_films h1{
      font-size: 20px;
      padding: 3.5vw;
  }
  .button-container_films{
    padding-top: 2px;
  }
}


/* ..........portfolio-header........... */
.portfolio-header{
  margin-top: 9vw;
}
.portfolio-header h1{
  
  white-space: pre-wrap;
  
  font-size: 5vw;
  font-weight: 100;
  text-align: center;
  color: #e7e0dd;
  padding-left: 113px;
  padding-right: 114px;
}


@media (max-width: 740px) {
  .portfolio-header{
    margin-top: 39vw;
    
  }
  .portfolio-header h1{
      font-size: 32px;
      padding-left: 20px;
      padding-right: 20px;
      font-weight: 15;
      align-items: center;
      
  }
}

#portfoliohome{
  min-height: 100vh;
  width: 100%;
  background-image: url(assests/images/AHP09675-Enhanced-NR.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
 

}

.portfolio_main{
  display: flex;
  justify-content: space-between;
  
  margin-top: 6vw;
  padding-left: 1vw;
  padding-right: 2vw;
  
  align-items: center;
}

.portfolio_inside{
  /* width: 100%; */
  height: 30vw;
  
}

.portfolio_inside_one_img img{
  width: 27vw;
  height: 17vw;
  
}

/* .portfolio_inside_one_text{
  background-color: red;
} */

.portfolio_inside_one_text h3 {
  padding-top: 2vw;
  text-align: center;
  padding-bottom: 2vw;
  font-weight: 100;
  color: #1f1f1f;
}

.portfolio_inside_one_text h1{
  font-size: 30px;
  letter-spacing: normal;
  text-align: center;
  font-weight: 200;
  color: #1f1f1f;

}

.portfolio_inside_one_text p{
  text-align: center;
  padding-top: 63px;
  font-size: 20px;
  


}

.portfolio_inside_one_text a{
  color: #1f1f1f;

}

@media screen and (max-width: 768px) {
  .portfolio_main {
    flex-direction: column;
    margin-top: 66px;
    padding-left: 8vw;
    padding-right: 9vw;
  }

  .portfolio_inside_one_text h3{
    padding-top: 28px;
  }
  .portfolio_inside_one_text h1{
    padding-top: 21px;
  }
  .portfolio_inside_one_text p{
    padding-top: 34px;
    padding-bottom: 20px;
  }
  
  .portfolio_inside {
    height: auto;
    margin-bottom: 20px;
  }
  
  .portfolio_inside_one_img img {
    width: 100%;
    height: auto;
  }
}


.text_portfolio{
  margin-top: 4vw;
    color: #1f1f1f;
  
  text-align: center;
}

.text_portfolio h1{
  font-size: 3vw;
  font-weight: 300;
  color: #1f1f1f;

}

@media screen and (max-width: 768px) {
  .text_portfolio {
    margin-top: 11px;
  
    margin-left: -28vw;

  }
  
  .text_portfolio h1 {
    font-size: 24px; 
  }
}


.last_images{
  display: flex;
  align-items: center;
  margin-top: 6vw;
  margin-left: 6vw;

}

.last_images img{
  width: 15vw;
  height: 14vw;
}
@media screen and (max-width: 768px) {
  .last_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    padding-right: 24px;
  }
  
  .last_images img {
    width: calc(50% - 10px); /* Subtracting margin */
    height: auto;
    margin: 0 5px 10px 5px; /* Adding margin between images */
  }
}



/* .........investment........... */
.investment-header{
  margin-top: 9vw;
}
.investment-header h1{
  
  white-space: pre-wrap;
  
  font-size: 5vw;
  font-weight: 100;
  text-align: center;
  color: #e7e0dd;
  padding-left: 113px;
  padding-right: 114px;
}


@media (max-width: 740px) {
  .investment-header{
    margin-top: 39vw;
    
  }
  .investment-header h1{
      font-size: 32px;
      padding-left: 20px;
      padding-right: 20px;
      font-weight: 15;
      align-items: center;
      
  }
}

#investmenthome{
  min-height: 100vh;
  width: 100%;
  background-image: url(assests/images/AHP09675-Enhanced-NR.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
 

}


.investment-home{
  margin-top: 7vw;
  padding-left: 33.263vw;
  position: relative;
  
}
.investment-home img{
  width: 34.008vw;
  height: 34.008vw;
  border-radius: 33px;
}

.investment-home h1{
  position: absolute;
  padding-top: 14.068vw;
  color: #fff;
  font-size: 59px;
  font-weight: 100;
  /* padding-left: 14px; */
}

@media (max-width: 768px) {
  .investment-home {
    padding-left: 9%;
  }

  .investment-home img {
    width: 83vw;
    height: 68vw;
    border-radius: 10px;
  }

  .investment-home h1 {
    padding-top: 99px;
    font-size: 30px;
    text-align: center;
  }
}


.text_investment{
  margin-top: 4vw;
  padding-left: 3.3203125vw;
  padding-right: 3.3203125vw;
}

.text_investment h1{
  font-weight: 200;
  font-size: 40px;
}

@media (max-width: 768px) {
  .text_investment {
    padding-left: 10px;
    padding-right: 10px;
  }

  .text_investment h1 {
    font-size: 24px;
  }
}

.moneydescription{
 margin-top: 4vw;
  padding-left: 30px;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
}

.moneydescription-IMG img{
  width: 40vw;
  height: 40vw;

}

.moneydescription_text{
  padding-left: 10vw;
  padding-right: 5vw;
  margin-top: 3vw;
}

.moneydescription_text h1{
  font-size: 58px;
  font-weight: 400;
}

.paragraph{
  padding-top: 2vw;
}

.paragraph p{
  font-size: 20px;
}

.p_two{
  padding-top: 2vw;
}

.button-container_investment{
  padding-top: 5.5vw;
  text-align: center;
}

.aesthetic-button_investment {
  padding: 1vw 1vw;
  font-family: "Aesthetic-Regular", sans-serif;
  font-size: 12px;
  color: #ffffff;
  background-color: #774231;
  border: none;
  
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.aesthetic-button_investment:hover {
  background-color: #5f5757;
}



#price-section{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 8vw;
  margin: 4vw;
}

.price-section-img-two{
  padding-top: 12vw;
}

.price-section-img-two img{
  width: 26vw;
  height: 27vw;
  border-radius: 10px;
}
.price-section-img-one img{
  padding-top: 20px;
  width: 26vw;
  height: 26vw;
  border-radius: 10px;

}


.price-section-paragraph{
  line-height: 2.0506640625vw;
}

.price-section-paragraph h1{
  color: #1f1f1f;
  font-size: 38.1184px;
  padding-bottom: 1vw;
  padding-top: 3vw;
  font-weight: 500;
}
.price-section-paragraph h3{
  color: #1f1f1f;
  padding-top: 1vw;
  font-size:  1.2816666666666665vw;
  line-height: 1.7799804687499998vw;
  font-weight: 100;
}


.button-container_faq {
  margin-top: -80px;
  padding-left: 6vw;
  /* Adjust margin as needed */
}

.aesthetic-button_faq {
  border-radius: 19.53125vw;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 6px;
  padding-bottom: 10px;
  font-family: JE_font;
  font-size: 1.2816666666666665vw;
  color: #ffffff;
  background-color: #774231;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 501;
}

.aesthetic-button_faq:hover {
  background-color: #5f5757;
}


@media (max-width: 768px) {
  #price-section {
      flex-direction: column;
      align-items: center;
      gap: 4vw;
      margin: 7vw;
  }

  .price-section-img-one img {
      width: 80vw;
      height: auto;
  }

  .price-section-img-two img{
    display: none;
  }

  .price-section-paragraph {
      line-height: 5vw;
      text-align: center;
  }

  .price-section-paragraph h1 {
      font-size: 9vw;
      padding-top: 7vw;
      padding-bottom: 7vw;

  }

  .price-section-paragraph h3 {
      font-size: 4vw;
      line-height: 5vw;
  }

  .button-container_faq {
      padding-top: 13vw;
      margin-top: 0;
  }

  .aesthetic-button_faq {
      font-size: 4vw;
      padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  #price-section {
      margin: 7vw;
  }

  .price-section-img-one img, .price-section-img-two img {
      width: 90vw;
  }

  .price-section-paragraph h1 {
      font-size: 8vw;
  }

  .price-section-paragraph h3 {
      font-size: 5vw;
      line-height: 6vw;
  }

  .button-container_faq {
      padding-top: 15vw;
  }

  .aesthetic-button_faq {
      font-size: 5vw;
      padding: 8px 16px;
  }
}




.accordion {
  font-size: 2vw;
  font-family: JE_font;
  background-color: #e0decd;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  /* text-align: center; */
  border: none;
  outline: none;
  transition: 0.4s;
}

.panel {
  text-align: center;
  padding: 0 18px;
  display: none;
  font-size: 16px;
  background-color: #e0decd;
  overflow: hidden;
}

.panel.show {
  display: block;
}

.centered-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}
.centered-list li {
  margin-bottom: 1em; /* Adjust margin as needed */
}


#about-contact{
  margin-top: 5vw;
  display: flex;
  justify-content: space-between;
 
  margin-left: 3vw;
  margin-right: 7vw;
  margin-bottom: 5vw;
}

#about_image-contact img{
  width: 38vw;
  height: 41vw;
  
  
}

#about_text-contact{
  
  width: 100%;
  padding-left: 2vw;
  padding-right: 11vw;
  
  
 
}

#about_text-contact h1{
  
  padding-bottom: 2.0833333333333335vw;
  text-align: left;
  font-size: 51px;
  font-weight: 200;
  color: #1f1f1f;
  padding-top: 10.807291666666666vw;
}

#about_text-contact h3{
  color: #1f1f1f;
  font-family: JE_font;
  font-size: 1.2816666666666665vw;
  line-height: 2.0506640625vw;
  
  /* text-transform: lowercase; */
  letter-spacing: 0.5px;
  font-weight: 300;
}


@media (max-width: 768px) {
  #about-contact {
    
    flex-direction: column; 
    align-items: center;
    margin: 5vw;
  }
  #about_image-contact {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the image horizontally */
    margin-bottom: 3vw; /* Add some spacing between image and text */
  }
  #about_image-contact img {
    
    width: 80%; /* Adjust image width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 3vw; /* Add some spacing between image and text */
    
  }

  #about_text-contact {
    padding: 0; 
    text-align: center; 
  }

  #about_text-contact h1 {
    font-size: 32px; 
    padding-bottom: 6vw;
  }

  #about_text-contact h3{
    color: #1f1f1f;
    font-family: JE_font;
    font-size: 4.282vw;
    line-height: 5.051vw;
    letter-spacing: 0.5px;
    font-weight: 300;
  }

  #about_text-contact p {
    font-size: 5vw; 

    line-height: 1.6; 
    letter-spacing: 1px;
  }
}



.container {
  display: flex;
  margin-top: 7vw;
  margin-left: 6vw;
  margin-right: 5vw;
  margin-bottom: 4vw;

}

.image-section {
  flex: 1;
}

.image-section img {
  width: 100%;
  height: 47vw;
  
  object-fit: cover;
}

.form-section {
  flex: 1;
  padding-left: 8vw;
  padding-top: 4vw;
  
}

.form-section p {
  font-size: 14px;
  /* color: #333; */
}

.form-section form {
  margin-top: 20px;
}

.form-section label {
  font-size: 1.2816666666666665vw;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #1f1f1f;
}
.form-section option {
  display: block;
  margin-bottom: 10px;
  
  
}

.required {
  color: #7e5e49;
  font-size: 1.0416666666666667vw;
  padding-left: 9px;
}

.name-input {
  display: flex;
  gap: 10px;
}

.name-input input {
  flex: 1;
}

.form-section input[type="text"], 
.form-section input[type="email"],
.form-section input[type="Phonenumber"], 
.form-section input[type="social-media"],
.form-section select[type="menu"]
{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-section input[type="text"]::placeholder,
.form-section input[type="email"]::placeholder,
.form-section input[type="Phonenumber"]::placeholder,
.form-section input[type="social-media"]::placeholder,
.form-section select[type="menu"]::placeholder  {
  color: #999;
}

.form-section button[type="submit"] {
  padding: 10px 20px;
  background-color: #7e5e49;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-section button[type="submit"]:hover {
  background-color: #7e5e49;
}

#p-tag{
  font-size: 1.2816666666666665vw; color: #1f1f1f; padding-bottom: 5px;
}



@media (max-width: 768px) {
  .container {
      flex-direction: column;
      margin: 20px;
  }
  
  .image-section img {
      height: auto;
  }

  .form-section {
      padding: 20px;
  }

  .form-section label {
      font-size: 4vw;
  }

  .form-section input[type="text"], 
  .form-section input[type="email"],
  .form-section input[type="Phonenumber"], 
  .form-section input[type="social-media"],
  .form-section select[type="menu"] {
      font-size: 3.5vw;
  }

  .form-section button[type="submit"] {
      font-size: 3.5vw;
  }
  #p-tag{
    font-size: 4vw;
  }

  .required {
    
    font-size: 3.0416666666666667vw;
    
  }

  .form-section p {
    font-size: 11px;
    /* color: #333; */
  }
}